.li {
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #1f2735;
  }
  
  .li h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .li p {
    margin: 5px 0;
  }
  
  .li a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #030202;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .li a:hover {
    background-color: #1e1710;
  }
  
  /* contenedor de la lista dinámica */
  .container{
    margin-right: 2rem;
  }

  .titsle {
    margin: 1rem 3rem;
  }