.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  padding: 2rem;
  margin: 2rem;
  background-color: #1f2735;
  border-radius: 2rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #000000;
  font-weight: bold;
}